@media screen and (max-device-width: 480px) and (orientation: portrait){
  nav ul, footer ul {
      font-size: 13px;
  }
}

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Muli', Sans-Serif;
    font-size: 16px;
    background-color: #5d3137;
    color: #ffffff;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    padding-bottom: 3px;
}
a.current {
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}
a:hover {
    border-bottom: 1px solid #999;
}
h1 {
    font-family: 'Merriweather', Serif;
    font-size: 46px;
    color: #ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
}
footer {
    font-family: 'Dancing Script', cursive;
    background-color:#7e4950;
    font-size: 2em;
    position:fixed;
    bottom: 30px;
    right: 0px;
    padding-left:30px;
    padding-top:2px;
    padding-right:10px;
    line-height: 0;
}

footer {opacity:0.3}
footer:hover {opacity:1}

.container .blurb {
    padding-top: 30px;
}

.container .places-list ul li.year {list-style:none;font-weight:bold;font-size:1.3em;padding-bottom:5px;padding-left:0px}
.container .places-list ul li.month {list-style:none;font-weight:bold;font-size:1.3em;padding-bottom:5px;padding-left: 10px}
.container .places-list ul li {list-style:none;padding-left: 20px;line-height:1.6em}
.container .places-list ul li i {color:#be6874;font-style:normal;}
