body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Muli', Sans-Serif;
    font-size: 16px;
    background-color: #5d3137;
    color: #ffffff;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    padding-bottom: 3px;
}
a.current {
    color: #ffffff;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}
a:hover {
    border-bottom: 1px solid #999;
}
h1 {
    font-family: 'Merriweather', Serif;
    font-size: 46px;
    color: #ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
}
footer {
    font-size: .8em;
    position:fixed;
    bottom: 20px;
}

.container .blurb {
    padding-top: 30px;
}

.places-list ul li.year {list-style:none;font-weight:bold;font-size:1.3em;padding-bottom:5px;padding-left:0px}
.places-list ul li.month {list-style:none;font-weight:bold;font-size:1.3em;padding-bottom:5px;padding-left: 10px}
.places-list ul li {list-style:none;padding-left: 20px}
